
:root{
    --blueDark: #0f2b66;
    --blue: #003f8c;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.Boton{
    background-color: var(--blue);
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}
.Boton:hover{
    background-color: #fff;
    color: var(--blue)
}
.bgimg{
    background-image: url("https://www.docker.com/sites/default/files/d8/2021-12/Docker_Website_hero_image_1800x900_v1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* header ----------------------------*/
.header{
    background-color: var(--blueDark);
    display: flex;
    justify-content: space-between;
}
.navbar__contentlogo{
    width: 150px;
}
.navbar__contentlogo>img{
    width: 100%;
    object-fit: contain;
}
.navbar{
    margin: 0 26px;
    display: flex;
    justify-content: space-between;
}
.menu{
    margin: 0 20px;
    display: flex;
    justify-content: flex-start;
}
.Sesions{
    display: flex;
    justify-content: flex-end;
    
}
.menu__item{
    display: flex;
    align-items: center;
}
.menu__item>a{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 15px;
    color: #fff;
}

.menu__item>.Sesions__item__link>img{
    width: 30px;
}

.menu .menu__item .menu__item__link:hover{
    text-decoration: underline;
    transition: all 0.3s;
}
/* submenu */

/* .item__menu__submenu{
    position: absolute;
    background-color: #000;
    display: none;
}
.menu .menu__item:hover .item__menu__submenu{
    display: block;
} */

/*main-------------------------*/

.section{
    display: flex;
    align-items: center;
    justify-content:center;
}
/* section Welcomn */
.sectionWelcom{
    color: #fff;
    height: 70vh;
}
.sectionWelcom__content{
    width: 70%;
    height: 70%;
}
.sectionWelcom__content>h1{
    font-size: 4em;
}
.sectionWelcom__content>h3{
    font-size: 1.4em;
}
/* section newv */
.sectionNew{
    display: none;
}
/* section numbers */
/* sectionNumbers{

} */
.sectionNumbers__contet{
    padding: 10px;
}